html {
  background-color: #1f1f1f;
  color: #f9f9f9;
}

body {
  font-family: sans-serif;
}

main {
  display: grid;
  padding: 2rem;
  gap: 2rem;
}

button {
  padding: 0 0.5rem;
}

.heading {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

h1 {
  margin-top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links-container > ul {
  padding: 0;
  list-style: none;
}

.links-container li {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.links-container li > a {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-start: 3rem;
}

form > button {
  align-self: flex-start;
}

summary > h2 {
  display: inline;
}

details > .links-container {
  margin-block-start: 1rem;
}